<div class="container">
  <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      LOADING .......
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="col-12 text-center">
        <div class="alert alert-danger">
          {{ result.errorMessage }}
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Prix</td>
          <td>Quantite</td>
          <td>Selected</td>
          <td>Available</td>
        </tr>
        <app-product-item
          [product]="p"
          (eventEmitter)="onActionEvent($event)"
          *ngFor="let p of result.data" style="display: contents"></app-product-item>

      </table>
    </ng-container>
  </ng-container>
</div>
